{% extends "website/base.html" %} 
{% load static %}
{% block content %}
<!-- Body content for the home page goes here -->
<br>
        
        
          <!-- Featured Gift Cards -->
          <div class="container">
            <div class="hero-section">
              <h1 class="display-4">Find the Perfect Gift Card</h1>
              <p class="lead">Explore a variety of gift cards for every occasion.</p>
              <a class="btn btn-primary btn-lg" href="{% url 'signin' %}">Shop Now</a>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img style="max-height: 200px" src="https://th.bing.com/th/id/OIP.en655K1xLigDq0CKquLJRgHaD4?w=345&h=181&c=7&r=0&o=5&dpr=1.1&pid=1.7" class="card-img-top" alt="Gift Card 3">
                  <div class="card-body">
                    <h5 class="card-title">Amazon</h5>
                    <p class="card-text">Surprise someone with this delightful gift card.</p>
                    <a href="{% url 'signin' %}" class="btn btn-primary" >Buy Now</a>
                  </div>
                </div>
              </div>
           
              <div class="col-md-4">
                <div class="card">
                  <img style="max-height: 200px;" src="https://1.bp.blogspot.com/-MgCio8umYLA/XoxGZVzA4YI/AAAAAAAAAEU/Xe-_Vn2gQ8cHBEnd9DH2GhBInsmoEx7WwCLcBGAsYHQ/s320/walmart-gift-card-png-17.png"  alt="Gift Card 1">
                  <div class="card-body">
                    <h5 class="card-title">Walmart</h5>
                    <p class="card-text">Perfect for birthdays and special occasions.</p>
                    <a href="{% url 'signin' %}" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
          
              <div class="col-md-4">
                <div class="card">
                  <img style="max-height: 200px;" src="https://assets1.csnews.com/files/styles/primary_articles_short/s3/GiftCard.jpg?itok=TFFLaTwC" class="card-img-top" alt="Gift Card 2">
                  <div class="card-body">
                    <h5 class="card-title">Lovely</h5>
                    <p class="card-text">A thoughtful gift for your loved.</p>
                    <a href="{% url 'signin' %}" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
        
            
            </div>
          </div>
        
       
<br>

{% endblock %}
